# Supabase Credentials (Optional)
# If left blank, the server will operate in Local Excel Fallback Mode using Renewal_Opportunity_1000_Realistic.xlsx
SUPABASE_URL=https://eixoljbzalkwbuvfcrbo.supabase.co
SUPABASE_KEY=sb_secret_nMektOX_4D5dny8PLjWSZA_koIB5PgT
PORT=3000
